@import '../../styles';

$image-wrapper-size: 90px;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: $image-wrapper-size;
  height: $image-wrapper-size;
  border-radius: 50%;
  position: relative;
  top: calc(#{$image-wrapper-size} / 15);
  margin-right: multiplyDefaultSpacing(2);
}

.blogHeadingWrapper {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blogTitle {
  font-size: 5rem;
  padding: 0;
}

.blogAuthor {
  padding: 0;
  font-weight: 100;
  font-size: 1rem;
  opacity: 0.8;
  letter-spacing: 2px;
  text-transform: uppercase;
}
