@import '../../styles';

.previewContentWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: multiplyDefaultSpacing(3);
}

.createdDate {
  font-size: 1rem;
  opacity: 0.75;
  margin: {
    bottom: multiplyDefaultSpacing(0.75);
    right: multiplyDefaultSpacing(2.5);
  }
}

.postTitle {
  font-size: 2.75rem;
  padding: 0;
  text-decoration: none;
}

.tagsWrapper {
  margin: {
    bottom: multiplyDefaultSpacing(0.75);
    left: multiplyDefaultSpacing(2.5);
  }
}

.tag {
  background: var(--font-color);
  color: var(--background);
  padding: multiplyDefaultSpacing(0.25);
  margin-right: multiplyDefaultSpacing(0.25);
}
