@import "../../../styles";

.headerWrapper {
  padding: $default-spacing;
  display: flex;
}

.titleSection {
  display: inline-block;
}

.navigation {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.navigationItem {
  margin: 0 multiplyDefaultSpacing(2);
}
